body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: 'Inconsolata', monospace;
}
.top-header {
    background-color: rgb(168, 206, 195);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.titre {
    font-size: 1.5em;
    text-align: left;
}
.titre a {
   color: black;
   text-decoration: none;
}
.search {
    align-items: center;
    width: 60%;
}
.search input {
    border-radius: 10px;
    border: none;
    background-color: rgb(201, 224, 219);
    width: 70%;
    height: 30px;
    padding-left: 15px;
    
}
.search-button {
    border: none;
    background-color: rgb(201, 224, 219);
    margin-left: -50px;
    position: absolute;
    height: 16px;
    margin-top: 2px;
}
.search-button svg {
    position:relative;
    width: 20px;
    height: 16px;
    top:5px;
}
.user-access {
    display: flex;
    width: 18%;
    justify-content: space-around;
}
.user-access a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.user-access svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 1.5em;
    background-color: rgb(201, 224, 219);
}
.contenent {
    width: 15%;
    text-align: center;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.navigation {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;  
}

.rayons {
    background-color: rgb(201, 224, 219);
    width: 150px;
    font-size: 0.8em;
    text-align: center;
    line-height: 3;
    margin-top: 15px;
    z-index: 10;
    border-top: 1px solid rgb(168, 206, 195);
}
.rayons li {
    border-bottom: 1px solid rgb(168, 206, 195); 
}
.div-rayons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/*---------------  HOME -------------------*/


.slider {
    height: 260px;
    width: 60%;
    padding: 3em 0;
    margin: 3% auto 1% auto;
    background-color: rgb(230, 239, 236);
    position: relative;   
}
.invisible {
    display: none;
}
.visible {
    display: flex;
    align-items: center;
}

.image-home {
    width: 180px;
    margin: auto;
}

.description {
   width: 20%;
   height: 60%;  
   margin: 0 100px;
}

.love {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.3em;
    font-style: italic;
    padding-bottom: 75px;
}


.continue {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 10px;
    border: 3px solid  rgb(168, 206, 195);
}

.continue:hover {
    background-color:  rgb(168, 206, 195);
    color: white;
}

.slider-button {
    background-color: rgb(201, 224, 219);
    border: none;
    border-radius: 4px;
    font-size: 1.5em;
    position: relative;
}

#precedent {
    position: absolute;
    left: 0;
    top: 50%;
}

#suivant {
    position: absolute;
    right: 0;
    top: 50%;
}

.texte {
    width: 70%;
    margin: 5% auto;
    text-align: justify;
    line-height: 1.3;
}
/*--------------- PAGE DETAIL ------------------*/
.book {
    width: 75%;
    margin: 5% auto; 
}
.detail-image {
    width: 300px;
}
.detail {
    display: flex;
}

.detail-title {
    font-weight: bold;
    font-size: 1.5em;
}
h4 {
    font-weight: bold;
    margin-bottom: 20px;
}
.resume {
    margin-left: 100px;   
}
.detail-edition {
    margin: 30px 0;
    opacity: 0.50;
    font-style: italic;
}

.detail-price {
    display: flex;
    align-items: center;
}
.detail-price p {
    margin-right: 30px;
    opacity: 0.60;
    font-size: 1.5em;
}
.detail-panier {
    text-decoration: none;
    color: rgb(71, 69, 69);
    border-radius: 2px;
    padding: 14px;
    font-weight: bold;
    background-color:  rgb(168, 206, 195);
}
.detail-panier:hover {
    color: white;
    background-color: rgb(139, 167, 159);
}


/*-----------------------FOOTER------------------------*/
.footer-top {
    margin-top: 10%;
    background-color: rgb(168, 206, 195);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    height: 170px;
    line-height: 1.5;
}
.footer-top svg {
    width: 40px;
    height: 40px;
    margin: 30px auto 10px auto;
}

.footer-bottom {
    padding-top: 20px ;
    background-color: rgb(230, 239, 236);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100px;
    line-height: 1.5;
}

.footer-bottom a {
    text-decoration: none;
    color: black;
}